body { display: block; margin: 8px;}

a { color: inherit; text-decoration: none; } 

.light { color: gray; }

div { display: block; }

div, p, section { position: relative; overflow: visible; }

.sidebar a { display: block; } h1 a { font-size:13px; position: relative; }

.entry p, .entry>ol, .entry>ul {
    margin: 1.6em 0;
}

img { 
    max-width: 100%;
    height: auto;
}

.logo { 
    display: block;
    text-align: right;
    margin-bottom: 3em;
}

.sidebar, h1, a, h2, h3, h4, h5, h6 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.7325px;
}

.sidebar, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-bottom: 1em;
    font-family: 'Gill Sans MT','Gill Sans','Gill Sans Std',
                    Verdana,'Bitstream Vera Sans',sans-serif;
}

.sidebar {
    width: 160px;
    position: absolute;
    left: 0;
    text-align: right;
}

body {
    font: 11px/1.8 Verdana,'Bitstream Vera Sans',sans-serif;
    color: #111;
    word-wrap: break-word;
    position: relative;
    width: 425px;
    margin: 7em auto;
    padding: 0 74px 0 222px;
}

.core-values-beliefs {
    font: 11px/1.8 Verdana,'Bitstream Vera Sans',sans-serif;
    color: #111;
    word-wrap: break-word;
    position: relative;
    width: 425px;
    margin: 7em auto;
    padding: 0 74px 0 222px;
}

h1 {
    font-size: 1.55em;
    line-height: 1.3;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
}

.entry a {
    text-decoration: none;
    font-size: 11px;
    text-transform: inherit;
    letter-spacing: inherit;
    font-family:Verdana,'Bitstream Vera Sans',sans-serif;
    text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0 0.06em #fff, 0 -0.06em #fff;
    background-image: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff),linear-gradient(#555,#555);
    background-size: 0 0,0 0,0.1em 0.1em;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-position: 0 90%,100% 100%,0 100%;
}

.entry a::selection {
    background: #b3d4fd;
    text-shadow: 0.03em 0 #b3d4fd, -0.03em 0 #b3d4fd, 0 0.03em #b3d4fd, 0 -0.03em #b3d4fd, 0.06em 0 #b3d4fd, -0.06em 0 #b3d4fd, 0.09em 0 #b3d4fd, -0.09em 0 #b3d4fd, 0.12em 0 #b3d4fd, -0.12em 0 #b3d4fd;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    color: #111;
    text-align: center;
}

#gallery {
    line-height:0;
    column-count:5;
    column-gap:5px;
 }

 #gallery img {
    max-width: 700% !important;
    min-width: 500%;
    height: auto !important;
    margin-bottom: 5px; /* to match column gap */
    filter: grayscale(100%);
    transition: filter 1.5s;
 }

 #gallery img:hover {
    filter:none;
 }
 
 mark {
    background-color: #dbb3e5;
    opacity: 1
  }

:root {
    --text-color-light: #111;
    --bg-color-light: #FFF;

    --text-color-dark: #FFF;
    --bg-color-dark: #111;
}

body {
    color: var(--text-color-light);
    background-color: var(--bg-color-light);
}

body.dark-mode {
    color: var(--text-color-dark);
    background-color: var(--bg-color-dark);
}